In [53]:
#import libraries
import pandas as pd
import numpy as np

In [54]:
#load tsv file in df using pandas
df=pd.read_csv("chipotle.tsv",sep="\t")

In [55]:
df.head(20)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# 1. Missing Values:
Question: Check for missing values in each column (Order ID, Quantity, Item Name, Choice Description, Item Price). How should missing values be handled?

In [57]:
df.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [58]:
df["choice_description"]=df["choice_description"].fillna("NaN")

In [59]:
df.isna().sum()

order_id              0
quantity              0
item_name             0
choice_description    0
item_price            0
dtype: int64

# 2. Data Types:
Question: Verify the data types of each column. Do they align with their expected types, and should any adjustments be made?

In [60]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [61]:
# we have to change the datatype of itemprice col but first we have to remove 
#specialcharcter $ from this to make str into float

In [62]:
#Price Column
df["item_price"]=df["item_price"].str.replace("$","")
df.item_price=df["item_price"].astype(float)
df["item_price"]

C:\Users\ghgh\AppData\Local\Temp\ipykernel_7924\2491644049.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["item_price"]=df["item_price"].str.replace("$","")

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

# 3. Duplicated Entries:
Question: Identify and handle duplicated entries in the dataset. How might duplicates impact analysis, and what is the appropriate action?m

In [63]:
df_duplicates=df[df.duplicated()]
df_duplicates

,order_id,quantity,item_name,choice_description,item_price
238,103,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75
248,108,1,Canned Soda,[Mountain Dew],1.09
297,129,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, G...",11.75
381,165,1,Canned Soft Drink,[Coke],1.25
484,205,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
567,233,1,Canned Soft Drink,[Diet Coke],1.25
617,254,1,Chips,NaN,2.15
684,282,1,Canned Soft Drink,[Coke],1.25
773,319,1,Chicken Bowl,"[Tomatillo-Green Chili Salsa (Medium), Black B...",8.49
908,376,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Faj...",8.99
924,381,1,Chicken Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), Cheese]",8.49
1003,412,1,Bottled Water,NaN,1.50
1117,462,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25
1203,491,1,Chicken Burrito,"[Fresh Tomato Salsa, [Cheese, Sour Cream, Lett...",8.75
1245,507,1,Canned Soft Drink,[Lemonade],1.25
1381,561,1,Canned Soft Drink,[Coke],1.25
1410,573,1,Bottled Water,NaN,1.50
1420,576,1,Barbacoa Bowl,[Roasted Chili Corn Salsa],9.25
1421,576,1,Barbacoa Salad Bowl,[Roasted Chili Corn Salsa],9.39
1502,610,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
1534,624,1,Chips and Tomatillo-Red Chili Salsa,NaN,2.39
1548,628,1,Chips and Guacamole,NaN,4.45
1612,651,1,Izze,[Blackberry],3.39
1791,724,1,Canned Soft Drink,[Coke],1.25
1792,724,1,Canned Soft Drink,[Coke],1.25
2078,838,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Sour Cream, Lett...",8.75
2127,856,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25
2307,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
2318,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
2362,940,1,Canned Soft Drink,[Coke],1.25
2448,972,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
2553,1011,1,Canned Soft Drink,[Coke],1.25
2554,1011,1,Canned Soft Drink,[Coke],1.25
2560,1013,1,Chips and Guacamole,NaN,4.45
2576,1020,1,Chips and Tomatillo Red Chili Salsa,NaN,2.95
2662,1057,1,Chicken Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
2708,1074,1,Chips,NaN,2.15
2717,1078,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.25
2833,1125,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",8.75
2881,1144,1,Bottled Water,NaN,1.50
2973,1182,1,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Black...",8.49
2977,1184,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",9.25
3121,1244,1,Chips and Guacamole,NaN,4.45
3430,1377,1,Chips and Tomatillo Red Chili Salsa,NaN,2.95
3637,1454,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, Rice]",8.75
3716,1484,1,Canned Soda,[Dr. Pepper],1.09
3764,1507,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
3829,1534,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",8.75
3924,1574,1,Bottled Water,NaN,1.50
4112,1647,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
4155,1660,1,Chips and Guacamole,NaN,4.45
4236,1691,1,Chicken Bowl,[White Rice],8.50
4266,1701,1,Chips,NaN,2.15
4372,1745,1,Chips and Guacamole,NaN,4.45
4463,1778,1,Canned Soft Drink,[Lemonade],1.25
4479,1785,1,Bottled Water,NaN,1.50
4544,1806,1,Bottled Water,NaN,1.50
4570,1817,1,Bottled Water,NaN,1.50
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25

In [64]:
len(df_duplicates)   #total duplicates values

59

In [65]:
df=df.drop_duplicates()  #drop duplicates values

In [66]:
len(df)

4563

# 4. Quantity and Item Price:
Question: Examine the Quantity and Item Price columns. Are there any inconsistencies or anomalies that need correction?

In [67]:
df[["quantity","item_price"]].describe()

          quantity   item_price
count  4563.000000  4563.000000
mean      1.076704     7.490083
std       0.412739     4.244155
min       1.000000     1.090000
25%       1.000000     3.750000
50%       1.000000     8.750000
75%       1.000000     9.250000
max      15.000000    44.250000

In [68]:
#there is no such outliers in columns "quantity" or "item_price"

In [69]:
print(df[df.quantity <=0])   #to check any negativ or zero anomalies in col
print(df[df.item_price <=0])  #to check any negative or zero anomalies in col

Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []
Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []

In [70]:
#there is no such zero or nagative anomalies in columns "quantity" or "item_price"

# 5. Choice Description:
Question: Analyze the Choice Description column. How should choices be handled, especially when there are multiple descriptions for a single item?

In [71]:
df.choice_description=df["choice_description"].str.lstrip("[")   #remove extra specialcharcter to expand this
df.choice_description=df["choice_description"].str.rstrip("]")
df.choice_description=df["choice_description"].str.replace("[","")
df.choice_description=df["choice_description"].str.replace("]","")
df

C:\Users\ghgh\AppData\Local\Temp\ipykernel_7924\3100990452.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.choice_description=df["choice_description"].str.replace("[","")
C:\Users\ghgh\AppData\Local\Temp\ipykernel_7924\3100990452.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.choice_description=df["choice_description"].str.replace("]","")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,Clementine,3.39
2,1,1,Nantucket Nectar,Apple,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",11.75
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",11.75
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",11.25
4620,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",8.75
4621,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",8.75

In [72]:
split_choices=df.choice_description.str.split(", ",expand=True)   #expand column to make new col acc. to different discriptions

num_columns=split_choices.shape[1]     #generate dynamic col names eg-,1,2,3,4...

num_columns_names=[f"choice_{i+1}" for i in range(num_columns) ]    #making new col names using num_columns
split_choices.columns=num_columns_names   #assigning new names to split_choice
split_choices

,choice_1,choice_2,choice_3,choice_4,choice_5,choice_6,choice_7,choice_8,choice_9,choice_10
0,NaN,None,None,None,None,None,None,None,None,None
1,Clementine,None,None,None,None,None,None,None,None,None
2,Apple,None,None,None,None,None,None,None,None,None
3,NaN,None,None,None,None,None,None,None,None,None
4,Tomatillo-Red Chili Salsa (Hot),Black Beans,Rice,Cheese,Sour Cream,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
4617,Fresh Tomato Salsa,Rice,Black Beans,Sour Cream,Cheese,Lettuce,Guacamole,None,None,None
4618,Fresh Tomato Salsa,Rice,Sour Cream,Cheese,Lettuce,Guacamole,None,None,None,None
4619,Fresh Tomato Salsa,Fajita Vegetables,Pinto Beans,Guacamole,Lettuce,None,None,None,None,None
4620,Fresh Tomato Salsa,Fajita Vegetables,Lettuce,None,None,None,None,None,None,None
4621,Fresh Tomato Salsa,Fajita Vegetables,Pinto Beans,Lettuce,None,None,None,None,None,None

In [73]:
new_df=pd.concat([df,split_choices],axis=1)     # concat df to split_choices
new_df=new_df.drop(columns=["choice_description"])    #drop extra column
item_price=new_df.pop(new_df.columns[3])     #remove iten_price col and assign it into new variable
new_df.insert(13,item_price.name,item_price)    #insert item_price column at the end of columns
new_df

,order_id,quantity,item_name,choice_1,choice_2,choice_3,choice_4,choice_5,choice_6,choice_7,choice_8,choice_9,choice_10,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,None,None,None,None,None,None,None,None,None,2.39
1,1,1,Izze,Clementine,None,None,None,None,None,None,None,None,None,3.39
2,1,1,Nantucket Nectar,Apple,None,None,None,None,None,None,None,None,None,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,None,None,None,None,None,None,None,None,None,2.39
4,2,2,Chicken Bowl,Tomatillo-Red Chili Salsa (Hot),Black Beans,Rice,Cheese,Sour Cream,None,None,None,None,None,16.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,Fresh Tomato Salsa,Rice,Black Beans,Sour Cream,Cheese,Lettuce,Guacamole,None,None,None,11.75
4618,1833,1,Steak Burrito,Fresh Tomato Salsa,Rice,Sour Cream,Cheese,Lettuce,Guacamole,None,None,None,None,11.75
4619,1834,1,Chicken Salad Bowl,Fresh Tomato Salsa,Fajita Vegetables,Pinto Beans,Guacamole,Lettuce,None,None,None,None,None,11.25
4620,1834,1,Chicken Salad Bowl,Fresh Tomato Salsa,Fajita Vegetables,Lettuce,None,None,None,None,None,None,None,8.75
4621,1834,1,Chicken Salad Bowl,Fresh Tomato Salsa,Fajita Vegetables,Pinto Beans,Lettuce,None,None,None,None,None,None,8.75

# 6. Handling Special Characters:
1Question: Check for special characters in text-based columns (e.g., Item Name, Choice Description). How can these be addressed for consistency?


we have already remove specialcharacters from original dataframe, now we just make new dataframe to practice

In [74]:
data=pd.DataFrame(df.values,columns=df.columns)

In [75]:
data["item_name_clean"]=df["item_name"].str.replace("[^a-zA-Z0-9\s]"," ")   #we replce all characters expext in regex to blank
data["choice_description_clean"]=df["choice_description"].str.replace("[^a-zA-Z0-9\s]"," ")

C:\Users\ghgh\AppData\Local\Temp\ipykernel_7924\1213147192.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data["item_name_clean"]=df["item_name"].str.replace("[^a-zA-Z0-9\s]"," ")   #we replce all characters expext in regex to blank
C:\Users\ghgh\AppData\Local\Temp\ipykernel_7924\1213147192.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data["choice_description_clean"]=df["choice_description"].str.replace("[^a-zA-Z0-9\s]"," ")

In [76]:
data[["item_name","item_name_clean"]].head()

,item_name,item_name_clean
0,Chips and Fresh Tomato Salsa,Chips and Fresh Tomato Salsa
1,Izze,Izze
2,Nantucket Nectar,Nantucket Nectar
3,Chips and Tomatillo-Green Chili Salsa,Chips and Tomatillo Green Chili Salsa
4,Chicken Bowl,Chicken Bowl

In [77]:
data[["choice_description","choice_description_clean"]].head()

,choice_description,choice_description_clean
0,NaN,NaN
1,Clementine,Clementine
2,Apple,Apple
3,NaN,NaN
4,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",Tomatillo Red Chili Salsa Hot Black Beans ...

In [78]:
#both cols cleaned completely

# 7. Order Id Integrity:
Question: Cross-reference the Order ID column for integrity. Are there any irregularities or patterns that need validation?

In [79]:
df.order_id.value_counts().sort_index()  #check how many numbers of order_id with per order_id

1       4
2       1
3       2
4       2
5       2
       ..
1830    2
1831    3
1832    2
1833    2
1834    3
Name: order_id, Length: 1834, dtype: int64

In [80]:
df["order_id"].isnull().sum()

0

There is no irregularities  in order_id.

# 8. Item Name Standardization:
Question: Standardize the Item Name column. Are there variations that can be unified for better analysis?

In [81]:
df["item_name"].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [82]:
df["item_name"].value_counts()

Chicken Bowl                             717
Chicken Burrito                          546
Chips and Guacamole                      474
Steak Burrito                            365
Canned Soft Drink                        290
Steak Bowl                               210
Chips                                    208
Bottled Water                            155
Chicken Soft Tacos                       111
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              102
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          90
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             65
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chicken Crispy Tacos                      47
Chips and Tomatillo Red Chili Salsa       46
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      19
Chips and Tomatillo-Red Chili Salsa       19
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Chicken Salad                              9
Barbacoa Salad Bowl                        9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [83]:
def standardize_item_name(data,col):
    name_mapping={}    # create empty dict
    
    unique_names=data[col].unique()
    for name in unique_names:
        standardize_name= name.lower().replace(" ","")
        if standardize_name not in name_mapping:
            name_mapping[standardize_name]=name
    
    data["standardized_"+col] = data[col].apply(lambda x : name_mapping[x.lower().replace(" ","")])
    return data

data=standardize_item_name(df,"item_name")
data

,order_id,quantity,item_name,choice_description,item_price,standardized_item_name
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,Chips and Fresh Tomato Salsa
1,1,1,Izze,Clementine,3.39,Izze
2,1,1,Nantucket Nectar,Apple,3.39,Nantucket Nectar
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,Chips and Tomatillo-Green Chili Salsa
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",16.98,Chicken Bowl
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",11.75,Steak Burrito
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",11.75,Steak Burrito
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",11.25,Chicken Salad Bowl
4620,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",8.75,Chicken Salad Bowl
4621,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",8.75,Chicken Salad Bowl

In [84]:
df=df.drop(columns="item_name")

In [85]:
column_to_shift=df.pop(df.columns[4])
df.insert(2,"standardize_item_name",column_to_shift)

In [86]:
df

,order_id,quantity,standardize_item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,Clementine,3.39
2,1,1,Nantucket Nectar,Apple,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",11.75
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",11.75
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",11.25
4620,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",8.75
4621,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",8.75

# 9. Quantity and Price Relationships:
Question: Investigate the relationships between Quantity and Item Price. Are there cases where adjustments need to be made for accurate analysis?

In [87]:
#Check there is any negative values present
negative_quantity=df[df["quantity"]<0]
print(negative_quantity)

unusual_item_price=df[df["item_price"]>100]
print("\n",unusual_item_price)

Empty DataFrame
Columns: [order_id, quantity, standardize_item_name, choice_description, item_price]
Index: []

 Empty DataFrame
Columns: [order_id, quantity, standardize_item_name, choice_description, item_price]
Index: []

As there are no negative values, we can concludethat there are no need of any adjustments.

# 10. Data Integrity Check:
Question: Perform a data integrity check by ensuring that quantities and prices align with the corresponding items and descriptions.

In [88]:
grouped_by_item = data.groupby('standardized_item_name')            # Grouping data by 'standardized_item_name'
mean_price_per_unit = {}                                            # Dictionary to store mean price per unit for inconsistent items
inconsistent_items_before = []                                      # Check consistency of price per unit for each item

for standardized_item_name, group in grouped_by_item:
    price_per_unit = group['item_price'] / group['quantity']        # Calculate price per unit
    is_consistent = price_per_unit.round(2).nunique() == 1          # Check consistency by comparing price per unit across the item's data
    #print(price_per_unit)
    if not is_consistent:                                           # If price per unit is inconsistent, add the item to the list
        inconsistent_items_before.append(standardized_item_name)

print("Items with inconsistent price per unit before adjustments:")           # To Print Inconsistent Datas before Adjustments
print(inconsistent_items_before)

Items with inconsistent price per unit before adjustments:
['Barbacoa Bowl', 'Barbacoa Burrito', 'Barbacoa Crispy Tacos', 'Barbacoa Salad Bowl', 'Barbacoa Soft Tacos', 'Bottled Water', 'Carnitas Bowl', 'Carnitas Burrito', 'Carnitas Crispy Tacos', 'Carnitas Salad Bowl', 'Carnitas Soft Tacos', 'Chicken Bowl', 'Chicken Burrito', 'Chicken Crispy Tacos', 'Chicken Salad', 'Chicken Salad Bowl', 'Chicken Soft Tacos', 'Chips', 'Chips and Fresh Tomato Salsa', 'Chips and Guacamole', 'Steak Bowl', 'Steak Burrito', 'Steak Crispy Tacos', 'Steak Salad', 'Steak Salad Bowl', 'Steak Soft Tacos', 'Veggie Bowl', 'Veggie Burrito', 'Veggie Salad Bowl', 'Veggie Soft Tacos']

In [89]:
for standardized_item_name, group in grouped_by_item:                         # Adjust inconsistent values
    price_per_unit = group['item_price'] / group['quantity']                  # Finding per unit value
    if not price_per_unit.round(2).nunique() == 1:
        mean_price_per_unit[standardized_item_name] = price_per_unit.mean()   # set the mean if it is not matching with the present value

for item in mean_price_per_unit:            # Replace inconsistent values with respective mean price per unit
    mask = data['standardized_item_name'] == item
    data.loc[mask, 'item_price'] = data.loc[mask, 'quantity'] * mean_price_per_unit[item] # If per unit doesn't match, replace it with the present value


inconsistent_items_after = []                                                 # Re-check consistency after adjustments
for standardized_item_name, group in grouped_by_item:
    price_per_unit = group['item_price'] / group['quantity']
    if not price_per_unit.round(2).nunique() == 1:
        inconsistent_items_after.append(standardized_item_name)

print("\nItems with inconsistent price per unit after adjustments:")
print(inconsistent_items_after)

Items with inconsistent price per unit after adjustments:
[]

# 11. Converting to CSV:
Optional Question: If needed, convert the cleaned dataset to a CSV file using the to_csv function with sep=','.

In [91]:
df.to_csv("cleaned_chipotle.csv",sep=",",index=False)

In [93]:
with open("cleaned_chipotle.csv",'r') as file:
    first_line=file.readline()
    if "," in first_line:
        print("This file is csv")
    else:print("Not csv")

This file is csv

In [94]:
chipotle_data=pd.read_csv("cleaned_chipotle.csv")
chipotle_data

,order_id,quantity,standardize_item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,Clementine,3.39
2,1,1,Nantucket Nectar,Apple,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",16.98
...,...,...,...,...,...
4558,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",11.75
4559,1833,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",11.75
4560,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",11.25
4561,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",8.75
4562,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",8.75

# 12. Handling Categorical Data:
Question: For categorical columns (e.g., Item Name), consider encoding or transforming them into a format suitable for analysis.

In [101]:
#To handle categorical columns like 'item_name' for analysis, we can encode or transform them into a suitable format.
#Firstly we will use: One-Hot Encoding
encoded_data = pd.get_dummies(chipotle_data, columns=['standardize_item_name'])        # Methodology to encode data using dummies
encoded_data

,order_id,quantity,choice_description,item_price,standardize_item_name_6 Pack Soft Drink,standardize_item_name_Barbacoa Bowl,standardize_item_name_Barbacoa Burrito,standardize_item_name_Barbacoa Crispy Tacos,standardize_item_name_Barbacoa Salad Bowl,standardize_item_name_Barbacoa Soft Tacos,...,standardize_item_name_Steak Crispy Tacos,standardize_item_name_Steak Salad,standardize_item_name_Steak Salad Bowl,standardize_item_name_Steak Soft Tacos,standardize_item_name_Veggie Bowl,standardize_item_name_Veggie Burrito,standardize_item_name_Veggie Crispy Tacos,standardize_item_name_Veggie Salad,standardize_item_name_Veggie Salad Bowl,standardize_item_name_Veggie Soft Tacos
0,1,1,NaN,2.39,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,Clementine,3.39,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,Apple,3.39,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,NaN,2.39,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,2,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",16.98,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4558,1833,1,"Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...",11.75,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4559,1833,1,"Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...",11.75,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4560,1834,1,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",11.25,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4561,1834,1,"Fresh Tomato Salsa, Fajita Vegetables, Lettuce",8.75,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4562,1834,1,"Fresh Tomato Salsa, Fajita Vegetables, Pinto B...",8.75,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
#now using the method label Encoding
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
chipotle_data["Encoded_Item_Name"]=label_encoder.fit_transform(chipotle_data["standardize_item_name"])
chipotle_data["Encoded_Item_Name"]

0       24
1       34
2       35
3       31
4       17
        ..
4558    39
4559    39
4560    21
4561    21
4562    21
Name: Encoded_Item_Name, Length: 4563, dtype: int32

# 13. Consistent Quantity and Price Units:
Question: Ensure consistency in units for Quantity and Item Price. Should any conversions or adjustments be made for uniform analysis?

In [103]:
print("\nItems with inconsistent price per unit after adjustments:")
print(inconsistent_items_after)

Items with inconsistent price per unit after adjustments:
[]

# Done